body { font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; background-color:#fff; font-size:0.7em; margin:0px; padding:0px; height:100%; width:100%; text-align:center; }
input { font-size:10px; }
#mainContainer { width:100%; margin:0 auto; text-align:left; height:100%; padding-bottom:30px; }
#header { height:1px; }
.dragableBox { background-color:#FFF; margin:1px; border-right:2px solid #AAA; border-bottom:2px solid #AAA; }
.dragableBoxInner { border:1px solid #317082; }
.dragableBoxHeader { background-color:#6699CC; height:14px; font-weight:bold; color: #000000; }
.dragableBoxHeader span { line-heigth:10px; }
.dragableBoxHeader img, .dragableBoxHeader span { float:left; }
.boxItemHeader { font-weight:bold; margin:0px; color:#000; text-decoration:none; overflow:hidden; }
.boxItemHeader:hover { font-weight:bold; margin:0px; color:#F00; text-decoration:underline; }
.dragableBoxHeader input { font-size:10px; }
.rssNumberOfItems { color:#F00; }
.dragableBoxContent { padding:3px; clear:both; }
#rectangleDiv { border:1px dotted red; margin:5px; }
.closeButton { padding:2px; border:1px solid #317082; line-height:9px; height:9px; margin:2px; color:#317082; padding:2px; padding-bottom:3px; }
.closeButton_over { padding:2px; border:1px solid #317082; line-height:9px; padding:2px; padding-bottom:3px; margin:2px; background-color:#317082; color:#FFF; }
.dragableBoxStatusBar { border-top:3px double #317082; height:14px; background-color:#E2EBED; padding:2px; }
.dragableBoxEditLink { color:#317082; text-decoration:none; padding-top:1px; }
.dragableBoxEditLink:hover { color:red; text-decoration:underline; }
form { display:inline; }
#addNewFeed { float:right; width:300px; background-color:#FFF; border:2px solid #317082; padding:2px; margin-right:2px; margin-top:0px; }
img { border:0px; }
